* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color:#404660 ;
    background:#f9feff;
    margin: 1.8rem 0 0 0;
    transition: .5s ease;  
}
a {
    text-decoration: none;  
}
li {
    list-style: none;
}

/*=== Scroll bar === */
::-webkit-scrollbar {
    width: 6px;
    background: #c5cadf;
}
::-webkit-scrollbar-thumb {
    background: #404660;
    border-radius: 0.1em;
}
::-webkit-scrollbar-thumb:hover {
    background:#7d7f83;
}
body {
    margin: 0;
    padding: 0;
}
/*===Header===*/

header {
    z-index: 99999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    transition: .6s ease;
}
header.sticky {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 10px 15px rgba(0 0 0 / 5%);
}
.nav-bar {
    position: relative;
    height: calc(4rem + 1rem);
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    transition: .6s ease;
}
header.sticky .nav-bar {
    height: calc(2rem + 1rem);
}
.nav-bar .logo {
    color: ;
    font-size: 1.3em;
    font-weight: 600;
    font-family: 'Montserrat Alternates', sans-serif;
}

.nav-items a {
    color: #404660;
    font-size: var(--normal-font-size);
    font-weight: 500;
    transition: .3s ease;
}
.nav-items a.active {
    color:#002d5b;
}
.nav-items a:not(:last-child) {
    margin-right: 40px;
}
.nav-items a:hover {
    color:#002d5b;
}
.nav-menu-btn {
    display: none;
}
/* Home section */

.home {
    position: relative;
    max-width: 1250px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 1rem;
    flex-direction: column;
}
.home .home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.home-container .home-img {
    position: relative;
    width: 50%;
    height: 50%;
    overflow: hidden;
   
}
.home-container .home-img img {
    transform: translateY(0, 0);
    margin-top: 60px;
}
.home-container .home-img img {
    width: 70%;
    border-radius: 50%;
    margin-left: 10em;
    height: 100%;
    object-fit: cover;
   
}

.home-container .media-icons {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  
}
.home-container .media-icons a {
    color: #404660;
    font-size: 1rem;
    margin: 10px 0;
    transition: .3s ease;
}
.home-container .media-icons a:hover {
    color:#002d5b;
}

.home-container .info h2 {
    position: relative;
    font-size: 3.5em;
    font-weight: 600;
    line-height: 60px;
    color:#002d5b;
    font-family: 'Playfair Display', serif;
   
}


.home-container .info .greetings {
    font-weight: 600;
    opacity: 0.9;
    color: #404660;
}
.home-container .info h3 {
    color:#404660;
    font-feature-settings: 1.3em;
    font-weight: 600;
    opacity: 0.9;
    line-height: 40px;
}
.home-container .info p {
    color:  #777;
    font-size: 1em;
    max-width: 350px;
}
.btn {
    background:#002d5b ;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    display: inline-block;
    margin-top: 25px;
    padding: 15px 18px;
    letter-spacing: 1px;
    border-radius: 2px;
    transition: .3s ease;
}
.btn:hover {
    background-color: ;
}
/* .home .scroll-down {
    color: #404660;
    font-size: 1em;
    font-weight: 500;
    margin-top: 20px;
    
}
.home .scroll-down i {
    color:#2eaab3 ;
    font-size: 1.2em;
    animation: arrow-down ease 2s infinite;
}
@keyframes arrow-down {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(10px);
    }
} */
/* Common styles for all sections */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section {
    position: relative;
    width: 90%;
    margin: auto;
    padding: 3rem;
}
